/* xs */
/* @media (min-width: 29.6875rem) {} */

/* sm */
/* @media (min-width: 40rem) {} */

/* md */
/* @media (min-width: 48rem) {} */

/* lg */
/* @media (min-width: 64rem) {} */

/* xl */
/* @media (min-width: 80rem) {} */

/* 2xl */
/* @media (min-width: 96rem) {} */

/* reusable components */
.primary__btn {
  background: var(--clr-btn);
  color: var(--clr-light-greyishblue);
  padding: .75rem 1.8125rem;
  border-radius: 32px;
  font-size: var(--size-sm);
  transition: all 0.5s ease-in-out;
}

.primary__btn:hover {
  opacity: 0.8;
  transform: scale(1.03);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.contain {
  width: 100%;
}

/* seperate container for only header section */
.contained {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section {
  margin-top: 5rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .primary__btn {
    padding: .75rem 1.5rem;
    font-size: var(--size-xl);
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .contained {
    width: 100%;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
