.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog__title {
  font-size: var(--size-3xl);
}

.blog__wrapper {
  margin-top: 2rem;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  gap: 1rem;
  width: 100%;
}

.blog__wrapper:hover {
  transform: scale(1.03);
}

.blog__img {
  border-radius: 0.4375rem 0.4375rem 0 0;
  object-fit: co;
  /* width: 320px; */
  height: 200px;
}

.blog__wrap {
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  border-radius: 0 0 0.4375rem 0.4375rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blog__small {
  font-size: var(--size-xs);
}

.blog__sub-title:hover {
  color: var(--clr-limeblue);
  cursor: pointer;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {

  .blog__title {
    margin-bottom: 2rem;
    margin-right: auto;
  }
  .blog__gen-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .blog__wrapper {
    margin-top: 0;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
