.blog__wraps-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: fcenter;
  gap: 3rem;
}

.blog__wrapper{
  background-color: var(--clr-white);
  border-radius: 10px;
}

.blog__title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.blog__img {
  border-radius: 0.3125rem;
  width: 16.25rem;
  transition: transform 0.3s ease;
  /* margin: 0 auto; */
}

.blog__img:hover {
  transform: scale(1.04);
}

.blog__sm-title {
  font-size: var(--size-sm);
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--clr-greyishblue);
  max-width: 32ch;
}

.blog__sub-title {
  max-width: 22ch;
  font-size: var(--size-base);
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.blog__description {
  font-size: var(--size-sm);
  max-width: 26ch;
  margin-bottom: 1.5rem;
}

.blog__sm-title,
.blog__sub-title,
.blog__description {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; 
}
