.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  background-color: var(--clr-white);
  z-index: 999;
}

.header__img {
  max-width: 7.5rem;
}

.header__menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0;
}

.header__links a {
  text-decoration: none;
  font-weight: 600;
  color: var(--clr-darkblue);
  position: relative;
  padding-bottom: 1rem;
}

.header__links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #31b057;
  transition: width 0.3s ease-in-out;
  z-index: 0;
}

.header__links a:hover::after {
  width: 100%;
}

.header__btn {
  padding: 0.625rem 1.25rem;
  background-color: var(--clr-limeblue);
  color: var(--clr-white);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.header__btn:hover {
  opacity: 80%;
}

.ham__icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 850px) {
  .header__menu {
    display: none;
    position: absolute;
    top: 3.75rem;
    right: 1.25rem;
    background-color: var(--clr-white);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    flex-direction: column;
    width: 12.5rem;
  }

  .header__menu.active {
    display: flex;
  }

  .header__links {
    padding: 0.625rem 1.25rem;
  }

  .header__btn {
    display: none;
  }

  .ham__icon {
    display: block;
  }
}

/* Additional styles for smooth transitions */
.header__menu {
  transition: all 0.3s ease-in-out;
}
