/* for no-show desktop-img */
.hero-img__desktop {
  display: none;
}

.hero-img__mobile {
  position: relative;
  min-width: 100%;
  top: 0;
  z-index: -2;
}

.hero-img__phone {
  top: 0;
  position: absolute;
  z-index: -1;
}

/* hero__article */
.hero {
  position: relative;
  bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.2rem;
}

/* .hero__title{
    
} */

.hero__description {
  max-width: 29ch;
}


/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .hero__title{
        font-size: var(--size-3xl);
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */